# Filter Minecraft sources
/src/minecraft/*
!/src/minecraft/invtweaks
!/src/minecraft/net
/src/minecraft/net/minecraft/client
/src/minecraft/net/minecraft/server
/src/minecraft/net/minecraft/src/*
!/src/minecraft/net/minecraft/src/InvTweaks*

# Builds & binaries
build/
bin/
target/
lib/
invtweaks_docs/_build
launcher/
*.zip
*.jar

# Can contain sensitive info
build.properties

# Tmp files
*~
*#

# IDEs
.classpath
.project
.settings
.pydevproject

# MCP Files
docs/
conf/
eclipse/
jars/
logs/
runtime/
temp/
reobf/
CHANGELOG
LICENSE.txt
*.bat
*.sh

# Misc
*.rej
